@page "/javascript"
@using BlazorWasmClientSample.Extensions

<h1>Javascript Interop</h1>

<p>Current value: @counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code
{
    private const string storageKey = "count";
    private int counter = 0;

    [Inject] protected IJSRuntime JS { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var storedValue = await this.JS.LocalStorageGet<int?>(storageKey);
        if (storedValue.HasValue)
        {
            this.counter = storedValue.Value;
        }
        await base.OnInitializedAsync(); // Important to keep 'base.' calls in Blazor. OnParameterSet is a must.
    }

    private async Task IncrementCount()
    {
        counter++;
        await this.JS.LocalStorageSet(storageKey, counter);
    }
}
