<h3>Code Embedded In Component</h3>

@if (isLoading)
{
    <LoadingIndicator />
}
else
{
    <p>Code embedded in component completed run.</p>
}

@code
{
    // C# goes here

    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        this.isLoading = false;
        await base.OnInitializedAsync(); // Important to keep 'base.' calls in Blazor. OnParameterSet is a must.
    }
}