@* @inherits will allow you to connect to any class that inherits from ComponentBase *@
@inherits Models.CodeInheritsComponent

<h3>Code In Inherited Class</h3>

@if (IsLoading)
{
    <LoadingIndicator />
}
else
{
    <p>Code in inherited class completed run.</p>
}