<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="DataStore"
            connectionString="Data Source=.;Initial Catalog=TestableWebFormsWithMvp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.5.1"/>
        <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
</configuration>